#
#  Licensed to the Apache Software Foundation (ASF) under one or more
#  contributor license agreements.  See the NOTICE file distributed with
#  this work for additional information regarding copyright ownership.
#  The ASF licenses this file to You under the Apache License, Version 2.0
#  (the "License"); you may not use this file except in compliance with
#  the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE- 2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
RewriteEngine On

# Redirect to https is done elsewhere

# ApacheCon lives on its own domain
Redirect temp /apachecon https://www.apachecon.com

# Redirect to current CoC event website
# This should agree with
# https://raw.githubusercontent.com/apache/www-site/main/content/events/.htaccess
#  and the default event in
# https://www.apachecon.com/event-images/snippet.js
Redirect /x/current-event.html https://eu.communityovercode.org/
