<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

       https://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->

<html>
  <head>
    <meta name="description" content="Apache Events" />
    <meta
      name="keywords"
      content="apache, apache events, apache community, opensource"
    />

    <title>{{ .Title }}</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="/style/screen.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div class="sidebar">
      <ul>
        <div class="logo" onclick="window.open('https://www.apache.org')">
          <img alt="ASF website" src="/images/asf_logo.png" />
        </div>
        <li><a href="/"><b>Home</b></a></li>
        <li>
          <b>Events To Attend</b>
          <ul>
            <li><a href="/event/">View Calendar</a></li>
          </ul>
        </li>
        <li>
          <b>About Apache Events</b>
          <ul>
            <li><a href="/about/">General information</a></li>
            <li><a href="/about/commcode/">Community Over Code</a></li>
            <li><a href="/about/roadshow.html">Roadshows</a></li>
            <li><a href="/about/endorsed.html">Endorsed events</a></li>
          </ul>
        </li>
        <li>
          <b>Getting Involved</b>
          <ul>
            <li><a href="/involved/">Introduction</a></li>
            <li><a href="/organize/">Organize an event</a></li>
            <li><a href="/involved/mailing-lists.html">Mailing Lists</a></li>
          </ul>
        </li>
        <li>
          <b>ASF</b>
          <ul>
            <li>
              <a href="https://www.apache.org" target="_blank"
                >Apache Software Foundation</a
              >
            </li>
            <li>
              <a href="https://community.apache.org" target="_blank"
                >Community Development</a
              >
            </li>
            <li>
              <a
                href="https://www.apache.org/foundation/thanks.html"
                target="_blank"
                >Thanks</a
              >
            </li>
            <li>
              <a
                href="https://www.apache.org/foundation/sponsorship.html"
                target="_blank"
                >Become a Sponsor</a
              >
            </li>
            <li>
              <a href="https://www.apache.org/security/" target="_blank"
                >Security</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="content">
      <h1 class="title">{{ .Title }}</h1>
      <div style="min-height: 80vh">{{ block "main" . }}{{ end }}</div>
      <footer id="footer">
        <div class="copyright">
          <p>
            Copyright &copy; {{ now.Year }} The Apache Software Foundation,
            Licensed under the
            <a href="https://www.apache.org/licenses/LICENSE-2.0"
              >Apache License, Version 2.0</a
            >.
            <br />
            Apache and the Apache feather logos are trademarks of The Apache
            Software Foundation.
            <br />
            This website is generated from the
            <a href="https://github.com/apache/comdev-events-site"
              >comdev-events-site</a
            >
            repository.
          </p>
        </div>
      </footer>
    </div>
  </body>
</html>
