{{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
{{ $segments := split $url "/" }}
<span class="breadcrumbs">
    <a href="/">Home</a>
    {{ $href := "" }}
    {{ range $index, $element := $segments }}
        {{ if ne $element "" }}
            {{ $href = printf "%s/%s" $href $element }}
            {{ $label := $element }}
            {{ if not (findRE "^[0-9]+$" $element) }}
                {{ $label = (humanize $element | replaceRE "\\.[hH]tml$" "") }}
            {{ else }}
                {{ $label = (replaceRE "\\.[hH]tml$" "" $element) }}
            {{ end }}
            &nbsp; <a href='{{ $href }}'>{{ $label }}</a>
        {{ end }}
    {{ end }}
</span>
